
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Layout/_LayoutHandler.cshtml";
}

<div class="login">
    <div class="wrapper wrapper-login">
        <div class="container container-login animated fadeIn">
            <h3 class="text-center">Sign In</h3>
            <div class="login-form">
                <div class="form-group form-floating-label">
                    <input type="email" id="Email" name="Email" class="form-control input-border-bottom" required>
                    <label for="username" class="placeholder">Email</label>
                </div>
                <div class="form-group form-floating-label">
                    <input type="password" id="Password" name="Password" class="form-control input-border-bottom" required>
                    <label for="password" class="placeholder">Password</label>
                    <div class="show-password">
                        <i class="flaticon-interface"></i>
                    </div>
                </div>
                <div class="row form-sub m-0">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="rememberme">
                        <label class="custom-control-label" for="rememberme">Remember Me</label>
                    </div>

                    <a href="#" class="link float-right">Forget Password ?</a>
                </div>
                <div class="form-action mb-3">
                    @*<a href="#" class="btn btn-primary btn-rounded btn-login">Sign In</a>*@
                    <button id="login" class="btn btn-primary btn-rounded btn-login" onclick="Login();">Sign In</button>
                </div>
                <div class="login-account">
                    <span class="msg">Don't have an account yet ?</span>
                    <a href="/register" class="link">Sign Up</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/Scripts/AuthScript.js"></script>
}